process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'

    withName: 'FASTQC' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'TRIM_GALORE' {
        cpus = 4
        memory = '8 GB'
    }

    withName: 'HISAT2_ALIGN' {
        cpus = 8
        memory = '16 GB'
    }

    withName: 'MULTIQC' {
        cpus = 2
        memory = '4 GB'
    }
}

